{% trans_default_domain "NitraAuthBundle" %}

{% block auth_captcha %}
    {% block auth_captcha_form_block %}
        <div id="auth_form" class="captcha">
            {% block auth_captcha_form %}
                {{ form_start(captcha, {'attr':{'id':'captcha'}})}}
                    {{ form_row(captcha.captcha) }}
                    {{ form_row(captcha.submit) }}
                    {{ form_row(captcha._token) }}
                {{ form_end(captcha, { 'render_rest': false } )}}
            {% endblock auth_captcha_form %}
        </div>
    {% endblock auth_captcha_form_block %}

    {% block auth_captcha_script %}
        <script type="text/javascript">
            $('#captcha').submit(function(){ 
                var value = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: "{{ path ('nitra_auth') }}",
                    data: value,
                    success: function(Data) {
                        if (Data.valid) {
                            $('#cboxClose').click();
                            updateBuyerButtons();
                        }
                        $('#auth_form').replaceWith(Data);
                        $.colorbox.resize();
                    },
                });
                return false;
            })
        </script>
    {% endblock auth_captcha_script %}
{% endblock auth_captcha %}