{% extends "::base.html.twig" %}
{% trans_default_domain "NitraAuthBundle" %}

{% block content %}
    {% block title %}<h1>{{ 'registration_success.title'|trans }}</h1>{% endblock title %}
    {% block text %}<p>{{ 'registration_success.text'|trans }}</p>{% endblock text %}
    {% block home_link %}<a href="{{ path('nitra_store_home_index')}}">{{ 'linkToMainPage'|trans }}</a>{% endblock home_link %}
    {% block script %}
        <script type="text/javascript">
            updateBuyerButtons();
        </script>
    {% endblock script %}
{% endblock %}