{% trans_default_domain "NitraAuthBundle" %}

{% block form %}
    <div class="auth_form">
        <h1>{{ 'forgoten_password.title'|trans }}</h1>
        <div class="auth_content">
            {{ form(form, {'attr': {'id': 'forgoten_password_form'}}) }}
        </div>
    </div>
{% endblock form %}
{% block js %}
    <script type="text/javascript">
        $('#forgoten_password_form').submit(function(){
            $.ajax({
                type:       'POST',
                url:        '{{ path('forgoten_password') }}',
                data:       $(this).serialize(),
                success:    function(data) {
                    $('#cboxLoadedContent .auth_content').html(data);
                    $.colorbox.resize();
                }
            });
            return false;
        });
    </script>
{% endblock js %}