{% trans_default_domain "NitraAuthBundle" %}

{% block login %}
    <div id="auth_form" class="auth_form login_form">
        {% block login_forms %}
            {% block auth_form_title %}<h1>{{ 'authorisation'|trans }}</h1>{% endblock auth_form_title %}
            {% block social_form %}
                <div class="social_registration">
                    {% block social_form_content_block %}
                        {% block social_form_script %}<script src='http://loginza.ru/js/widget.js' type='text/javascript'></script>{% endblock social_form_script %}
                        {% block social_form_content %}
                            {% block social_form_title %}<span class="form_title">{{ 'insert_data'|trans }}</span>{% endblock social_form_title %}
                            <a class="socials">
                                {% block social_form_items %}
                                    {% image '@NitraStoreBundle/Resources/public/images/vk_login.png' %}
                                        <img src="{{ asset_url }}" alt="vkontakte" data-provider="vkontakte" />
                                    {% endimage %}
                                    {% image '@NitraStoreBundle/Resources/public/images/fb_login.png' %}
                                        <img src="{{ asset_url }}" alt="facebook" data-provider="facebook" />
                                    {% endimage %}    
                                    {% image '@NitraStoreBundle/Resources/public/images/tw_login.png' %}
                                        <img src="{{ asset_url }}" alt="twitter" data-provider="twitter" />
                                    {% endimage %} 
                                    {% image '@NitraStoreBundle/Resources/public/images/od_login.png' %}
                                        <img src="{{ asset_url }}" alt="odnoklassniki" data-provider="odnoklassniki" />
                                    {% endimage %}
                                {% endblock social_form_items %}
                            </a>
                        {% endblock social_form_content %}
                    {% endblock social_form_content_block %}
                </div>
            {% endblock social_form %}
            {% block login_sms_form_block %}
                {% if sms %}
                    {% block login_sms_form_box %}
                        <div class="get_code">
                            {% block login_sms_form_content %}
                                {% block login_sms_form_title %}<div class="title">{{ 'enter_by_phone'|trans }}</div>{% endblock login_sms_form_title %}
                                {% block login_sms_form %}
                                    {{ form_javascript(sms) }}
                                    {{ form_stylesheet(sms) }}
                                    {{ form(sms, {'attr':{'id':'sms'} }) }}{% endblock login_sms_form %}
                            {% endblock login_sms_form_content %}
                        </div>
                    {% endblock login_sms_form_box %}
                {% endif %}
            {% endblock login_sms_form_block %}
            {% block login_form_block %}
                {% if login %}
                    {% block login_form_box %}
                        <div class="log_in">
                            {% block login_form_content %}
                                {% block login_form_title %}<div class="title">{{ 'have_pswd'|trans}}</div>{% endblock login_form_title %}
                                {% block login_form %}{{ form(login, {'attr':{'id':'login'}})}}{% endblock login_form %}
                            {% endblock login_form_content %}
                        </div>
                    {% endblock login_form_box %}
                {% endif %}
            {% endblock login_form_block %}
            {% block registration_link %}
                <a class="register" onclick="registration();">{{ 'registration'|trans }}</a>
            {% endblock registration_link %}
            {% block forgoten_password_link %}
                <a id="forgoten_password" class="forgoten_password" href="{{ path('forgoten_password') }}">{{ 'forgoten_password.link'|trans }}</a>
            {% endblock forgoten_password_link %}
        {% endblock login_forms %}
    </div>
    {% block login_script %}
        <script type="text/javascript">
            setTimeout(function() {
                $.colorbox.resize();
            }, 300);
            {% block forgoten_password_script %}
                $('a#forgoten_password').click(function(){
                    $.ajax({
                        url:        $(this).prop('href'),
                        success:    function(data) {
                            $('#cboxLoadedContent').html(data);
                            $.colorbox.resize();
                        }
                    });
                    return false;
                });
            {% endblock forgoten_password_script %}

            $('.social_registration .socials img').click(function() {
                openWin($(this).data('provider'));
            });

            {% block open_social_auth_window %}
                function openWin(provider) {
                    var left  = screen.availWidth / 2 - 150;
                    var right = screen.availHeight / 2 - 125;
                    $.colorbox.close();
                    var url = 'https://loginza.ru/api/widget?token_url='+ '{{ url('social_auth') }}' + '&providers_set={% block loginza_auth_providers %}vkontakte,facebook,twitter,odnoklassniki{% endblock loginza_auth_providers %}&provider=' + provider;
                    window.open(url,"","width=500,height=500,resizable=no,scrollbars=no, status=yes, left=" + left + ", top=" + right + '"' );
                }
            {% endblock open_social_auth_window %}

            $('#sms').submit(function(){
                $.ajax({
                    type:       "POST",
                    url:        "{{ path ('nitra_auth') }}",
                    data:       $(this).serialize(),
                    success:    function(Data) {
                        $('#auth_form').replaceWith(Data);
                        $.colorbox.resize();
                    }
                });
                return false;
            });

            $('#login').submit(function(){
                $.ajax({
                    type:       "POST",
                    url:        "{{ path ('nitra_auth') }}",
                    data:       $(this).serialize(),
                    success:    function(data) {
                        if (data.valid) {
                            $.colorbox.close();
                            updateBuyerButtons();
                        }
                        $('#auth_form').replaceWith(data);
                        $.colorbox.resize();
                    }
                });
                return false;
            });

            function registration() {
                $.ajax({
                    type:       "POST",
                    url:        "{{ path('registration') }}",
                    success:    function(Data) {
                        $('#auth_form').replaceWith(Data);
                        $.colorbox.resize({
                            innerWidth: '440px'
                        });
                    }
                });
                return false;
            }
        </script>
    {% endblock login_script %}
{% endblock login %}