{% trans_default_domain "NitraAuthBundle" %}

{% block registration %}
    {% block registration_select2_script %}
        {% javascripts 'bundles/nitrastore/js/select2.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock registration_select2_script %}
    
    {% block form_javascript %}
        {{ form_javascript(form) }}
    {% endblock form_javascript %}

    {% block registration_form_block %}
        <div id="auth_form" class="auth_form form_reg">
            {% block registration_form_title %}<h1>{{ 'registration'|trans }}</h1>{% endblock registration_form_title %}
            <div class="auth_content">
                {% block registration_form %}{{ form(form, {'attr':{'id':'newBuyer'} })}}{% endblock registration_form %}
            </div>
        </div>
    {% endblock registration_form_block %}
    
    {% block registration_script %}
        <script type="text/javascript">
            setTimeout(function() {
                $.colorbox.resize();
            }, 300);
            $('#newBuyer').submit(function() {
                var value = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: "{{ path ('registration') }}",
                    data: value,
                    success: function(data) {
                        if (data.msg != undefined) {
                            $('#auth_form .auth_content').html(data.msg);
                            $('#auth_form h1').html( '{{ 'registration_success.title'|trans }}' );
                            setTimeout(function(){
                               $.colorbox.close();
                            }, 5000);
                            $.colorbox.resize();
                        } else {
                            $('#auth_form').replaceWith(data);
                            $.colorbox.resize();
                        }
                    },
                });
                return false;
            })
        </script>
    {% endblock registration_script %}
{% endblock registration %}