{% block sms_code %}
    {% block sms_code_form_block %}
        <div id="auth_form" class="sms_code">
            {% block sms_code_form %}
                {{ form_start(code, {'attr':{'id':'code'}})}}
                    {{ ((kod is defined) ? '<b>'~kod~'</b>' : '')|raw }}
                    {{ form_row(code.code) }}
                    {{ form_errors(code) }}
                    {{ form_row(code.submit) }}
                    {{ form_row(code._token) }}
                {{ form_end(code, { 'render_rest': false } )}}
            {% endblock sms_code_form %}
        </div>
    {% endblock sms_code_form_block %}
    {% block sms_code_script %}
        <script type="text/javascript">
            $('#code').submit(function(){ 
                var value = $(this).serialize();
                    $.ajax({
                        type: "POST",
                        url: "{{ path ('nitra_auth') }}",
                        data: value,
                        success: function(Data) {
                            if (Data.valid) {
                                $('#cboxClose').click();
                                updateBuyerButtons();
                            }
                        $('#auth_form').replaceWith(Data);
                        $.colorbox.resize();
                    },
                });
                return false;
            })
        </script>
    {% endblock sms_code_script %}
{% endblock sms_code %}